@import "~carbon-components/scss/components/code-snippet/_code-snippet.scss";
@import "~carbon-components/scss/components/list/_list.scss";
@import "~carbon-components/scss/components/data-table/_data-table.scss";
.App {
  text-align: center;
}

.spacing{
  padding-left: 2rem;
}
.bgColor{
 background-color:aliceblue;
 height: 100vh;
}
.preview{
  min-height: 30.5rem;
  max-height: 30.5rem;
  background-color:white;
}
.contentToCentre{
  justify-content: center;
  display: flex;
}
img[src*="#imgStyling"] {
  width:200px;
  height:100px;
}

 .markdown-preview {
 
  height: 100%;
  padding: 0.6875rem 1rem;
  margin-left: -2.5rem;
  overflow-y: auto;
  border-bottom: 1px solid #f4f4f4;
  margin-right: -2rem;
}
.markdown-style * {
  margin-bottom: 1rem;
}

.markdown-style {

  a {
    word-break: break-word;
  }
 
  code {
    @extend .bx--snippet;
    @extend .bx--snippet--inline;
    line-height: 2rem;
    white-space: pre-wrap;
  }

  li {
    margin-bottom: 0.25rem;
    padding-left: 0rem;
  }

  ol,
  ul {
    padding: 0 0 15px;
    margin: 0;
    font-size: 1rem;
    line-height: 1.625rem;
    border: 0;
  }

  ol > li {
    margin-left: 2rem;
    list-style: decimal;
  }
  ul > li {
    margin-left: 2rem;
    list-style: disc;
  }

  img {
    max-width: 100%;
  }

  table ul > li {
    margin-left: 0;
  }
  table {
    @extend .bx--data-table;
    th {
      @extend .bx--table-header-label;
    }
  }
}